/* 没有数据显示提示图片 */
.no-data-tip {
	position: fixed;
	width: 750rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	top: 600rpx;
}

.no-data-tip-img{
	width: 300rpx;
	height: 300rpx;
}

.no-data-tip-text{
	width: 300rpx;
	text-align: center;
	margin-top: 24rpx;
}

/* 列表 */
.list {
	margin-top: 441rpx;
	margin-bottom: 125rpx;
	width: 100vw;
	padding: 0 33rpx;
}

.list-card {
	width: 683rpx;
	background: #FFFFFF;
	box-shadow: 0rpx -2rpx 15rpx 10rpx rgba(0, 0, 0, 0.02);
	border-radius: 17rpx;
	display: flex;
	flex-direction: column;
	margin-top: 21rpx;
}

.list-card-title {
	height: 101rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.list-card-title-left {
	width: 200rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	left: 24rpx;
}

.list-card-title-left-split {
	width: 8rpx;
	height: 26rpx;
	background: #BCC2CA;
}

.list-card-title-left-name {
	margin-left: 14rpx;
	height: 47rpx;
	font-size: 33rpx;
	font-weight: 500;
	color: #3C424A;
	line-height: 47rpx;
}

.list-card-title-right {
	position: absolute;
	right: 27rpx;
}

.list-card-title-right-income {
	height: 34rpx;
	font-size: 25rpx;
	font-weight: 500;
	color: #3C424A;
	line-height: 34rpx;
}

.list-card-title-right-spend {
	height: 34rpx;
	font-size: 25rpx;
	font-weight: 500;
	color: #FE5250;
	line-height: 34rpx;
	margin-left: 33rpx;
}

.list-card-item {
	height: 100rpx;
	margin-left: 27rpx;
	display: flex;
	align-items: center;
	position: relative;
}

.list-card-item-icon {
	width: 67rpx;
	height: 67rpx;
}

.list-card-item-detail {
	height: 100rpx;
	margin-left: 19rpx;
	display: flex;
	flex-direction: column;
}

.list-card-item-detail-split {
	height: 1rpx;
	width: 545rpx;
	background-color: rgba(0, 0, 0, 0.05);
}

.list-card-item-detail-wrap {
	height: 100rpx;
	display: flex;
	align-items: center;
	position: relative;
}

.list-card-item-detail-left {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
}

.list-card-item-detail-left-name {
	height: 34rpx;
	font-size: 25rpx;
	font-weight: 500;
	color: #3C424A;
	line-height: 34rpx;
}

.list-card-item-detail-left-note {
	height: 29rpx;
	font-size: 21rpx;
	font-weight: 500;
	color: #3C424A;
	line-height: 29rpx;

}

.list-card-item-detail-money {
	position: absolute;
	right: 0;
}

/* 编辑窗 */
.editBox {
	position: fixed;
	z-index: 9999;
}
